{{ form_start(form) }}
<fieldset class="registerFs">
    {{ form_label(form.author, 'Auteur') }}
    {{ form_widget(form.author) }}
    {{ form_label(form.resolved, 'Résolu') }}
    {{ form_widget(form.resolved) }}
    {{ form_label(form.title, 'Titre') }}
    {{ form_widget(form.title) }}
    {{ form_label(form.title, 'Description courte') }}
    {{ form_widget(form.description) }}
    {{ form_label(form.content, 'Description détaillée') }}
    {{ form_widget(form.content) }}
    {{ form_label(form.imgA, 'Image 1') }}
    {{ form_widget(form.imgA) }}
    {{ form_label(form.imgB, 'Image 2') }}
    {{ form_widget(form.imgB) }}
    {{ form_label(form.imgC, 'Image 3') }}
    {{ form_widget(form.imgC) }}
    {{ form_label(form.imgC, 'Stack') }}
    {{ form_widget(form.stack) }}
    <button class="sendlink">{{ button_label|default('Publier') }}</button>
</fieldset>
{{ form_end(form) }}
